<template name="List_body">
<div class="page-flexbox-wrapper">
  <header>
	<div class="navbar">
	  
	  <nav class="teal darken-4 z-depth-2">
		<div class="nav-wrapper">

		  <a href="/" class="brand-logo primary"><img id="phoenix-logo" src="{{urlFor 'App.home'}}/phoenixlogo.png"/></a>
		  <a href="/" class="brand-logo secondary hide-on-med-and-down">Tracy</a>

		  <ul class="right hide-on-med-and-down">
			{{#if currentUser}}
			<li class="{{isActiveRoute 'LcModels'}}"><a href="{{pathFor 'LcModels'}}"><i class="material-icons left">loop</i>Life Cycle Models</a></li>
			<li class="{{isActiveRoute 'RiskModels'}}"><a href="{{pathFor 'RiskModels'}}"><i class="material-icons left">warning</i>Risk Models</a></li>
			{{/if}}
			<li><a href="#" class="dropdown-button" data-activates="user-dropdown"><i class="material-icons">more_vert</i></a></li>
		  </ul>

		  <ul id="nav-mobile" class="side-nav">
			{{#if currentUser}}
			<li class="{{isActiveRoute 'LcModels'}}"><a href="{{pathFor 'LcModels'}}"><i class="material-icons left">loop</i>Life Cycle Models</a></li>
			<li class="{{isActiveRoute 'RiskModels'}}"><a href="{{pathFor 'RiskModels'}}"><i class="material-icons left">warning</i>Risk Models</a></li>
			<li class="divider"></li>
			<li><a class="js-logout">Logout</a></li>
			{{else}}
			<li><a href="{{pathFor 'signin'}}">Sign In</a></li>
			<li><a href="{{pathFor 'join'}}">Join</a></li>
			{{/if}}
		  </ul>
		  <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
		</div>
	  </nav>

	  <ul id="user-dropdown" class="dropdown-content">
		{{#if currentUser}}
		<li><a class="js-logout">Logout</a></li>
		{{else}}
		<li><a href="{{pathFor 'signin'}}">Sign In</a></li>
		<li><a href="{{pathFor 'join'}}">Join</a></li>
		{{/if}}
	  </ul>
	</div>
  </header>

  <main>
  <div class="container">
	{{> Template.dynamic template=main}}
  </div>
  </main>

</div>
</template>
