<template name="Comps_item">
<g class="component" transform="{{transform}}">
{{#if comp.hasRetracted}}
{{#each retComp in retractedComps}}
<rect
  x="{{retComp.x}}"
  y="{{retComp.y}}"
  width="{{width}}"
  height="{{height}}"
  class="{{retComp.risk}}"
  style="fill-opacity:1;stroke-width:{{strokeWidth}};stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" />
  {{/each}}
  {{/if}}

  <rect
  width="{{width}}"
  height="{{height}}"
  class="{{risk}}"
  style="fill-opacity:1;stroke-width:{{strokeWidth}};stroke-linejoin:round;stroke-miterlimit:4;stroke-opacity:1;stroke-dasharray:none" />
  {{#if isUnknown}}
  <text class="name" x="5" y="22">{{comp.name}}</text>
  <text class="firmName" x="5" y="48">{{#if comp.firmName}}{{comp.firmName}}{{else}}unknown{{/if}}</text>
  <text class="siteLocation" x="5" y="66">{{locationName comp.siteLocation}}</text>
  {{else}}

  <text class="name" x="85" y="66">...</text>
  {{/if}}
<use class="action js-retract {{hidden}}" xlink:href="#ic_arrow_down" x="161" y="0"></use>
<use class="action js-delete {{hidden}}" xlink:href="#ic_delete" x="161" y="109"></use>
<use class="action js-edit-comp {{hidden}}" xlink:href="#ic_edit" x="137" y="109"></use>
  <circle class="action js-connect {{hidden}}" cx="92.5" cy="135" r="7" onmouseover="this.setAttribute('r', 10)" onmouseout="this.setAttribute('r', 7)"/>
</g>
</template>
