<template name="Modal_editcomp">
<div id="modal-edit-comp" class="modal">
  <div class="modal-content">
	<h4>Edit Component</h4>
	<div class="row">
	  <div class="input-field col s12">
		<input value="{{editComp.name}}" placeholder="Name" id="comp-name" type="text" class="validate">
		<label for="comp-name">Name</label>
	  </div>
	</div>
	<div class="row">
	  <div class="input-field col s12">
		<input value="{{editComp.firmName}}" placeholder="Firm Name" id="comp-firmname" type="text" class="validate">
		<label for="comp-firmname">Firm Name</label>
	  </div>
	</div>
	<div class="row">
	  <div class="input-field col s12">
		<select id="comp-sitelocation">
		  <option value="" {{selected ""}}>unknown</option>
		  {{#each region in regions}}
		  <option value="{{region.code}}" {{selected region.code}}>{{region.name}}</option>
		  {{/each}}
		</select>
		<label>Site Location</label>
	  </div>

	</div>
  </div>
  <div class="modal-footer">
	<a href="#!" class="js-save-edit-comp waves-effect waves-green btn-flat">Save</a>
	<a href="#!" class="js-cancel-edit-comp waves-effect waves-green btn-flat">Cancel</a>
  </div>
</div>

</template>
