<template name="List_riskmodels">
<div class="row model-list-headline">
  <div class="col s6">
	<h2 class="left">Risk Models</h2>
  </div>
  <div class="col s6">
	<div class="valign-wrapper right">
	  <a class="disabled js-new-riskmodel waves-effect waves-light btn teal darken-3 valign">Create Model</a>
	</div>
  </div>
</div>
<ul class="collection">
  {{#each riskModel in riskModels}}
  {{#with riskModel}}
  <li class="collection-item avatar">
  <i class="material-icons circle">warning</i>
  <span class="title">{{name}}</span>
  <p>{{email}}</p>
  <!--<a href="" class="js-delete-riskmodel secondary-content"><i class="material-icons">delete</i></a>-->
  <a href="{{pathFor 'RiskModels.riskModel' riskModelId=_id}}" class="secondary-content"><i class="material-icons">edit</i></a>
  </li>

  {{/with}}
  {{/each}}
</ul>
<div id="modal-new-riskmodel" class="modal">
  <div class="modal-content">
	<h4>Create Risk Model</h4>
	<div class="row">
	  <div class="input-field col s12">
		<input placeholder="Model Name" id="riskmodel-name" type="text" class="validate">
		<label for="riskmodel-name">Model Name</label>
	  </div>
	</div>
  </div>
  <div class="modal-footer">
	<a href="#!" class="js-create-new-riskmodel waves-effect waves-green btn-flat">Create</a>
	<a href="#!" class="js-cancel-new-riskmodel waves-effect waves-green btn-flat">Cancel</a>
  </div>
</div>

</template>
