<template name="Show_riskmodel">
<div class="container">
  <div class="row model-list-headline">
	<div class="col l10 m11 s12">
	  <h2 class="left">{{riskModel.name}}</h2>
	</div>
	<div class="col l2 m1 s12">
	  <div class="valign-wrapper right">
		<a class="js-add-region modal-trigger waves-effect waves-light btn teal darken-3 valign">Add Region</a>
	  </div>
	</div>
  </div>

  <div class="z-depth-1 table-container">
	<table class="highlight responsive-table">
	  <thead>
		<tr>
		  <th data-field="id">Region</th>
		  <th data-field="child-labor"><img class="circle responsive-image" src="/tracyml/risk-cl.svg"></th>
		  <th data-field=""><img class="circle responsive-image" src="/tracyml/risk-eo.svg"></th>
		  <th data-field=""><img class="circle responsive-image" src="/tracyml/risk-fa.svg"></th>
		  <th data-field=""><img class="circle responsive-image" src="/tracyml/risk-fl.svg"></th>
		  <th data-field=""><img class="circle responsive-image" src="/tracyml/risk-fs.svg"></th>
		  <th data-field=""><img class="circle responsive-image" src="/tracyml/risk-sb.svg"></th>
		  <th data-field=""><img class="circle responsive-image" src="/tracyml/risk-hs.svg"></th>
		  <th data-field=""><img class="circle responsive-image" src="/tracyml/risk-wh.svg"></th>
		  <th></th>
		</tr>
	  </thead>

	  <tbody>
	  {{#each entry in regionEntries}}
	  {{#with entry}}
	  <tr>
		<td>{{regionName regionId}}</td>
		<td>{{riskDesc cl}}</td>
		<td>{{riskDesc eo}}</td>
		<td>{{riskDesc fa}}</td>
		<td>{{riskDesc fl}}</td>
		<td>{{riskDesc fs}}</td>
		<td>{{riskDesc sb}}</td>
		<td>{{riskDesc hs}}</td>
		<td>{{riskDesc wh}}</td>
		<td ><a href="" class="js-delete-entry teal-text text-darken-3"><i class="material-icons">delete</i></a></td>
	  </tr>
	  {{/with}}
	  {{/each}}
	  </tbody>
	</table>
  </div>
</div>
<div id="modal-add-region" class="modal">
  <div class="modal-content">
	<h4>Add Region</h4>

	<div class="row">
	  <div class="input-field col s12">
		<select id="select-region">
		  {{#each region in regions}}
		  <option value="{{region.code}}">{{region.name}}</option>
		  {{/each}}
		</select>
	  </div>
	</div>
	<div class="row">
	  <div class="input-field col s6">
		<img class="circle responsive-image prefix" src="/tracyml/risk-cl.svg">
		<select id="select-cl">
		  <option value="-1" selected>undefined</option>
		  <option value="0">low</option>
		  <option value="1">medium</option>
		  <option value="2">high</option>
		</select>
	  </div>
	  <div class="input-field col s6">
		<img class="circle responsive-image prefix" src="/tracyml/risk-eo.svg">
		<select id="select-eo">
		  <option value="-1" selected>undefined</option>
		  <option value="0">low</option>
		  <option value="1">medium</option>
		  <option value="2">high</option>
		</select>
	  </div>

	</div>
	<div class="row">
	  <div class="input-field col s6">
		<img class="circle responsive-image prefix" src="/tracyml/risk-fa.svg">
		<select id="select-fa">
		  <option value="-1" selected>undefined</option>
		  <option value="0">low</option>
		  <option value="1">medium</option>
		  <option value="2">high</option>
		</select>
	  </div>
	  <div class="input-field col s6">
		<img class="circle responsive-image prefix" src="/tracyml/risk-fl.svg">
		<select id="select-fl">
		  <option value="-1" selected>undefined</option>
		  <option value="0">low</option>
		  <option value="1">medium</option>
		  <option value="2">high</option>
		</select>
	  </div>

	</div>
	<div class="row">
	  <div class="input-field col s6">
		<img class="circle responsive-image prefix" src="/tracyml/risk-fs.svg">
		<select id="select-fs">
		  <option value="-1" selected>undefined</option>
		  <option value="0">low</option>
		  <option value="1">medium</option>
		  <option value="2">high</option>
		</select>
	  </div>
	  <div class="input-field col s6">
		<img class="circle responsive-image prefix" src="/tracyml/risk-sb.svg">
		<select id="select-sb">
		  <option value="-1" selected>undefined</option>
		  <option value="0">low</option>
		  <option value="1">medium</option>
		  <option value="2">high</option>
		</select>
	  </div>

	</div>
	<div class="row">
	  <div class="input-field col s6">
		<img class="circle responsive-image prefix" src="/tracyml/risk-hs.svg">
		<select id="select-hs">
		  <option value="-1" selected>undefined</option>
		  <option value="0">low</option>
		  <option value="1">medium</option>
		  <option value="2">high</option>
		</select>
	  </div>

	  <div class="input-field col s6">
		<img class="circle responsive-image prefix" src="/tracyml/risk-wh.svg">
		<select id="select-wh">
		  <option value="-1" selected>undefined</option>
		  <option value="0">low</option>
		  <option value="1">medium</option>
		  <option value="2">high</option>
		</select>
	  </div>
	</div>

  </div>
  <div class="modal-footer">
	<a href="#!" class="js-add-new-region waves-effect waves-green btn-flat">Add</a>
	<a href="#!" class="js-cancel-add-region waves-effect waves-green btn-flat">Cancel</a>
  </div>
</div>

</template>
